// Global layout.
* {
  box-sizing: border-box;  
}
body {
  background: map-get($colors, ui-light);
  font-family: "Avenir Next", Arial, Helvetica;
  margin: 0;
}

button {
  margin-left: 3rem;
  text-decoration: none;
  height: 1.5rem;
  width: 8rem;
  font-size: 1rem;
  font-weight: 700;
  color: white;
  background-color: map-get($colors, secondary);
  border: 0;
  border-radius: 0.3rem;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 20px;
  width: 100%;
}

.display-none {
  display: none !important;
}
