// Navbar module
.navbar {
  &__item {
    text-decoration: none;
    margin-right: 3rem;
    // font-weight: 200;
  }

  &__item--active {
    font-weight: 700;
  }
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  // text-align: center;
  background-color: lightgray;
  height: 3rem;
  font-size: 1.5rem;
  padding-left: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  width: 100%;
}

.navbar-links {
  text-align: left;
}

.navbar-button {
  margin-right: 4rem;
}

.navbar-button button {
  width: 15rem;
}

