// Navbar module
.navbar {
  &__item {
    text-decoration: none;
    margin-right: 3rem;
    color: map-get($colors, darkgrey);
  }
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: map-get($colors, lightgrey);
  height: 4rem;
  font-size: 1.5rem;
  padding-left: 4rem;
  text-align: left;
}

.navbar-links {
  text-align: left;
  color: map-get($colors, darkgrey);
}

.navbar-button {
  margin-right: 4rem;
}

.navbar-button button {
  width: 15rem;
}

