// Todo module.
.todo {
  cursor: pointer;
  height: 6rem;
  margin-left: 4rem;
  margin-right: 8rem;
  font-size: 1.5rem;
  border-bottom: 1px solid grey;
  padding-top: 1rem;
  padding-bottom: 1rem;

  &--status-complete {
    text-decoration: line-through;    
    color: grey;
  }

  // &--status-complete label{
  //   text-decoration: line-through;    
  // }

  // input:checked{
  //   text-decoration: line-through;    
  // }
  // &--status-complete input:checked ~ .checkmark:after {
  //   display: block;
  // }
  // &--status-complete input {
  //   "checked"
  // }
  // .check {
    
  // }

  &--filtered {
    display: none;
  }
}
